{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 background-image">
        <!-- <div class=" w-100"></div> -->
        <div class="row h-100">
            <div class="col-7 col-md-6 ms-5 my-auto mx-auto">
                <h1 class="display-4 logo-font text-white">
                     <span class="text-shadow">
                        Our new line<br>
                        has just<br>
                        dropped
                     </span>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg border border-3 gradient rounded-0 text-uppercase py-3 text-light">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}