html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    background: url('/media/feet-puddle-reflection.jpg') no-repeat center fixed;
    background-size: cover;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button {
    min-width: 260px;
}

.overlay {
    background: black;
}

/* .btn-white {
    background: white;
    color: black;
} */

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

a {
    text-decoration: none;
}

.gradient {
   background: -moz-linear-gradient(top, #000 0%, #2D0007 100%);
   background: -webkit-gradient(top, #000 0%, #2D0007 100%);
   background: linear-gradient(to bottom, #000 0%, #2D0007 100%); 
}

.text-shadow {
    text-shadow: 
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

/* ------- Media Queries */
@media (min-width: 992px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}